.custom_bg{
	background-color: pink;
	padding: 10px 0;
	margin-bottom: 10px;
}
.bgc{
	background-color: blue;
	min-height: 100px;
}
.c_mb{
	margin-bottom: 10px;
}
.red{
	background-color: 	red;
}